<div class="row">
  <div class="col-12">
    <div class="ng-cloak" ng-init="init(tipoObjeto.IDTipoObjeto)" ng-controller="DemoCtrl as ctrl">
      <ui-select ng-model="ctrl.person.selected" theme="select2" ng-disabled="ctrl.disabled" style="min-width: 300px;" title="Choose a person" ng-change="notificarCambio(ctrl.person.selected, tipoObjeto)">
        <ui-select-match placeholder="{{tipoObjeto.DescripcionTipoObjeto}}">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="person in ctrl.people | propsFilter: {name: $select.search, age: $select.search}">
          <div ng-bind-html="person.NombreObjeto | highlight: $select.search"></div>
          <!--<small>
            email: {{person.email}}
            age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
          </small>-->
        </ui-select-choices>
      </ui-select>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-6 pt-3" ng-repeat="objeto in tipoObjeto.Objetos track by $index">
             <div class="card bg-light mb-3" style="max-width: 20rem;">
                   <div class="card-header">
                       <div class="row">
                         <div class="col-6"><h6> {{objeto.NombreObjeto}}</h6></div>
                         <div class="col-6 text-right">
                           <button type="button" class="btn btn-xs" ng-click="modificarObjeto(objeto)">
                             <i class="far fa-edit" aria-hidden="true"></i>
                           </button>
                           <button type="button" class="btn  btn-xs btn-danger" ng-click="eliminarObjeto(tipoObjeto, $index)">
                              <i class="far fa-trash-alt" aria-hidden="true"></i>
                           </button>
                           </div>
                         </div>
                     </div>
                     <div class="card-body">
                       <span ng-repeat="propiedad in objeto.Propiedades">
                           <strong>{{propiedad.NombrePropiedad}}:</strong>
                           <p>
                             <span ng-if="!EstoyModificandoObjeto(objeto)">
                               <contenedor-propiedades></contenedor-propiedades>
                             </span>
                             <span ng-hide="!EstoyModificandoObjeto(objeto)">
                               <campo-propiedad>
                               </campo-propiedad>
                               <!--<input class="form-control" type="text" name="" value="" ng-model="propiedad.Valor">-->
                             </span>
                           </p>
                       </span>
                        <div class="row">

                       </div>
                                   </div>
                                 </div>
                               </div>
                               <div class="col-6 ">
                               </div>
  </div>
<div>
</div>
