<!doctype html>
<html lang="es" ng-app="musicien">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114803606-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-114803606-1');
    </script>

    <!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-6428718712967488",
        enable_page_level_ads: true
      });
    </script> -->
    <title>MUSICIEN - Bringing Music Back to Live</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->


    
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <!-- Bootstrap CSS -->
    <link href="css/custom.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">




    <link href="css/loaders.css" rel="stylesheet">
    <link href="css/swiper.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/component.css">
    <link rel="stylesheet" href="css/demo.css">

    <!-- <link rel="stylesheet" href="css/ionicons.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link  rel="stylesheet" href="css/emoji.css"> -->
    <!-- <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css" type="text/css"/>
    -->
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">
    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="images/fav.png" />


    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/ionicons.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/emoji.css">
    <link rel="stylesheet" href="css/selec.css">
    <link rel="stylesheet" href="css/slider-wrapper.css">





    <script src="http://platform.twitter.com/widgets.js"></script>
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">
    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="images/fav.png" />

    <!--   ANGULAR 1.6 -->
    <!--<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.3.15/angular-route.min.js">-->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <!--<script type="text/javascript" src="js/angular.js">

    </script>-->

    <script type="text/javascript" src="js/angular-route.min.js">

    </script>
    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>-->

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script type="text/javascript" src="js/angular-bootstrap-lightbox.js">

    </script>

    <!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.js"></script>-->
    <!--<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>-->
    <!--Angular Extensiones -->
    <!--<script type="text/javascript" src="js/angular-route.js">

    </script>-->

    <script src="http://82.223.27.144/dsSignalRChat/Scripts/jquery.signalR-2.2.2.js"></script>

    <!--Reference the autogenerated SignalR hub script. -->
    <script src="hubssignalr"></script>
    <script type="text/javascript" src="apps/funciones.js">

    </script>
    <script type="text/javascript" src="js/infinite-scroll.js">

    </script>

    <!--Angular App-->
    <script type="text/javascript" src="apps/app.js">

    </script>
    <script type="text/javascript" src="apps/routeProvider.js">

    </script>
    <script type="text/javascript" src="apps/configuracionGlobal.js">

    </script>
    <script type="text/javascript" src="apps/directivas.js">

    </script>
    <script type="text/javascript" src="controllers/carritoCompraController.js">

    </script>
    <script type="text/javascript" src="controllers/publicidadController.js">

    </script>
    <script type="text/javascript" src="apps/llamadashttp.js">

    </script>
    <script type="text/javascript" src="controllers/crearpostController.js">

    </script>
    <!--Angular Controladores -->
    <script type="text/javascript" src="controllers/navegacionController.js">

    </script>
    <script type="text/javascript" src="controllers/inicioController.js">

    </script>
    <script type="text/javascript" src="controllers/landingController.js">

    </script>
    <script type="text/javascript" src="controllers/preferenciasController.js">

    </script>
    <script type="text/javascript" src="controllers/preferenciasController2.js">

    </script>
    <script type="text/javascript" src="controllers/previsualizadorController.js">

    </script>
    <script src="controllers/ui-angularController.js">
    </script>
    <script type="text/javascript" src="controllers/valorarpublicacionController.js">

    </script>
    <script type="text/javascript" src="controllers/publicacionController.js">

    </script>
    <script type="text/javascript" src="controllers/registrologinController.js">

    </script>
    <script type="text/javascript" src="controllers/redesSociales.js">

    </script>
    <script type="text/javascript" src="controllers/perfilusuarioController.js">

    </script>
    <script type="text/javascript" src="apps/chatProvider.js">

    </script>
    <script type="text/javascript" src="controllers/notificacionesController.js">

    </script>
    <script type="text/javascript" src="js/selec.js">
    </script>
    <script type="text/javascript" src="js/jquery.scrollbar.js"></script>
    <script src="js/sticky.js"></script>

    <script src="js/angular-slide-wrapper.js"></script>

    <script src="js/anchor-scroll.js" type="text/javascript"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/scrollbars.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="js/alert.js"></script>




    <!--  <script src="js/jquery.min.js" ></script> -->






    <script type="text/javascript" src="js/spotify-web-api.js">

    </script>

    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '290207971502502',
                cookie: true,
                xfbml: true,
                version: 'v2.10'
            });

            FB.AppEvents.logPageView();

        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script type="text/javascript">
        var OneSignal = window.OneSignal || [];
        OneSignal.push(function () {
            OneSignal.init({
                appId: "a34da277-1dc3-4273-8316-09c6c7435e0a",
                autoRegister: false,
                notifyButton: {
                    enable: false,
                },
            });
        });

    </script>
    <script type="text/javascript">
        OneSignal.push(function () {
            // Occurs when the user's subscription changes to a new value.
            OneSignal.on('subscriptionChange', function (isSubscribed) {
                console.log("The user's subscription state is now:", isSubscribed);
                cambioSuscripcion(isSubscribed);
            });
        });
    </script>
    <script type="text/javascript" src="apps/notifyProvider.js">

    </script>

</head>

  <body ng-controller="navegacion">
<!-- <div id="loaderraro" class="loader loader-bg" onclick="eliminarLoader()"> -->
  <div class="loader loader-bg">
  <div class="loader-inner ball-clip-rotate-pulse">
    <div></div>
    <div></div>
  </div>
</div>
    <!-- INICIO HEADER -->
  <header id="header" class="">
    <div class="container ">
     <nav ng-if="!rutaActiva('/')" class="navbar navbar-expand-lg fixed-top menu ">
      <div class="container" >
        <a class="navbar-brand" ng-click="inicio()">
            <img src="img/logo_p.png" class="m-0 p-0" height="30"> <span class="ml-1">MUSICIEN</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="background-color: orange !important;">
        <span class="navbar-toggler-icon">
          <i class="fa fa-bars" aria-hidden="true" style="color:#000"></i>
        </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

          </ul>
             <form class="form-inline">
              <div class="form-group">
                <i class="icon ion-android-search" ng-click="BuscarPorTexto()"></i>
                <input type="text" class="form-control" id="textobusqueda" ng-model="textobusqueda"  placeholder="{{lang.busca_musicos_instrumentos}}" ng-enter="BuscarPorTexto()">
              </div>

            </form>
            <span ng-controller="modalesRegistroLogin">
             <ul class="navbar-nav ml-auto main-menu">
            <li  class="nav-item"> <a class="nav-link" ng-click="inicio()">{{lang.inicio}}</a> </li>
              <!-- <li class="nav-item ml-3"><a href="#">Descubre</a></li> -->
            <li ng-if="!checkLoginStatus()" class="nav-item"> <a class="nav-link" ng-click="openModalRegistro()">{{lang.registrate}}</a> </li>

              <li ng-if="!checkLoginStatus()" class="nav-item"> <a class="nav-link" ng-click="openModalInicioSesion()">{{lang.inicio_sesion}}</a> </li>


              <li><a class="nav-link" ng-click="ActivarFiltros()">
                 <i class="ion ion-funnel" class="nav-item" ></i> {{lang.busqueda_avanzada}}
                 </a>
              </li>
               <li class="nav-item" ng-if="checkLoginStatus()"> <a class="nav-link" ng-click="verCarrito()"> <i class="ion-android-cart ico-carrito" aria-hidden="true" ></i> <span class="cantidad-p">{{cantidadArticulosCarrito()}}  <!-- ||Total {{obtenerPrecio()}}€  --></span></a> </li>

               <li class="nav-item dropdown" ng-if="checkLoginStatus()" >
                    <a class="nav-link dropdown-toggle pages" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <i class="fas fa-bell ico-carrito" aria-hidden="true" style="margin-top: 3px;"></i>
                       <span class="notif-n" ng-class="ponerRojo(usuario.Notificaciones.Cantidad)">
                          {{usuario.Notificaciones.Cantidad}}
                       </span>

                   </a>
                   <!-- <div class="" ng-click="verCarrito()">
                     Carrito: {{cantidadArticulosCarrito()}}
                   </div>
  -->
                   <div class="dropdown-menu user" aria-labelledby="navbarDropdown">
                     <span ng-repeat="accion in usuario.Notificaciones.Notific track by $index">
                       <a class="dropdown-item"> <span  ng-click="clickNotificacion(accion, $index, 0)">{{accion.NombreUsuario}}</span> <span ng-click="clickNotificacion(accion, $index, 1)">{{accion.Texto}}</span><br> <small>{{calcularTiempo(accion)}}</small></a>
                       <div class="dropdown-divider"></div>
                     </span>
                       <a class="dropdown-item" ng-click="verMasNotificaciones()">{{lang.ver_todo}}</a></div>
                 </li>

                <li class="nav-item dropdown" ng-if="checkLoginStatus()">
                   <a class="nav-link dropdown-toggle pages" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   {{usuario.Nombre}}
                  </a>
                  <div class="dropdown-menu user" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" ng-click="verPerfil(usuario)"/> <i class="ion-android-person mr-1"></i> {{lang.mi_perfil}}</a>
                    <a class="dropdown-item" ng-click="preferencias()"> <i class="ion-ios-gear mr-1"></i> {{lang.preferencias}}</a>
                      <a class="dropdown-item" ng-click="contratar()"> <i class="ion-android-cart mr-1"></i> {{lang.contratar}}</a>
                      <a class="dropdown-item" ng-click="verMasNotificaciones()"> <i class="fas fa-bell" aria-hidden="true"></i> {{lang.notificaciones}}</a>
                      <a class="dropdown-item" ng-click="RegistrarUsuario()"> <i class="fas fa-bell" aria-hidden="true"></i> {{lang.activar_notificaciones}}</a>
                   <!--  <a class="dropdown-item" href="#"><i class="ion-person-add mr-1"></i>  Crear nuevo perfil</a> -->
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" ng-click="cerrarSesionUsuario()"> <i class="ion-locked mr-1"></i> {{lang.cerrar_sesion}}</a>
                  </div>
                </li>
                <!-- IDIOMAS -->
                <li class="nav-item dropdown" >
                      <a class="nav-link dropdown-toggle pages" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       <!--<i class="fas fa-flag ico-carrito" aria-hidden="true" style="margin-top: 3px;"></i>-->
                       <img ng-src="{{flagidiomaactivo}}" class="img-fluid ico-carrito" style="margin-top: 3px;width:20px;" />
                         <!--<span class="notif-n">
                            {{idiomaactivo}}
                         </span>-->

                     </a>
                     <!-- <div class="" ng-click="verCarrito()">
                       Carrito: {{cantidadArticulosCarrito()}}
                     </div>
    -->
                     <div class="dropdown-menu user" aria-labelledby="navbarDropdown">
                       <span ng-repeat="idioma in idiomas track by $index">
                         <a class="dropdown-item"> <span  ng-click="cambiarIdioma(idioma)"><img class="img-fluid" ng-click="cambiarIdioma(idioma)" ng-src="{{iconode(idioma.Icono)}}"> {{idioma.NombreIdioma}}</span></a>
                         <div class="dropdown-divider"></div>
                       </span>
                      </div>
                   </li>
                  <!--  FIN IDIOMAS -->
                 <!--  COMPARTIR REDES -->
                   <li class="nav-item dropdown" ng-if="checkLoginStatus()">
                   <a class="nav-link dropdown-toggle pages" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="ion-android-share-alt ico-carrito"></i>
                  </a>
                  <div class="dropdown-menu user" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="https://www.facebook.com/musicien.es/" target="_blank" /> <i class="ion-social-facebook mr-1"></i>  Facebook</a>
                    <a class="dropdown-item" href="https://twitter.com/Musicien_es" target="_blank"> <i class="ion-social-twitter mr-1"></i>  Twitter</a>
                      <a class="dropdown-item" href="https://www.instagram.com/musicien.es/" target="_blank"> <i class="ion-social-instagram mr-1"></i>  Instagram</a>
                      <a class="dropdown-item" href="https://www.youtube.com/channel/UCwxyYbdC8qpVbzUpQHg4qRQ?view_as=subscriber" target="_blank"> <i class="ion-social-youtube mr-1"></i>  You Tube</a>
                      <a class="dropdown-item" href="https://plus.google.com/u/0/112514787241977627722" target="_blan"> <i class="ion-social-googleplus" aria-hidden="true"></i>  Google+</a>
                   <!--  <a class="dropdown-item" href="#"><i class="ion-person-add mr-1"></i>  Crear nuevo perfil</a> -->
                    
                  </div>
                </li>
                <!-- FIN COMPARTIR REDES -->

            </ul>
            </span>

        </div>

      </div>

     </nav>


     <nav id="noregistrado" ng-hide="!rutaActiva('/')" class="navbar navbar-toggleable-md navbar-light bg-faded top-bar navbar-static-top sps sps--abv" style="position: fixed;">
     <div class="container" id="menu">
       <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
         </button>
   <a class="navbar-brand" >
      <img src="img/logo.png" alt=""> MUSICIEN
   </a>
     <div id="navbarNav" ng-controller="modalesRegistroLogin" class="hidden-xs-down">
       <ul class="navbar-nav ml-auto main-menu " style="flex-direction: row;">

          <li class="nav-item "> <a class="nav-link" ng-click="puedohacer()">{{lang.que_hacer}}</a> </li>
          <li class="nav-item"> <a ng-click="descubre()" class="nav-link">{{lang.top_musicien}} Musicien</a> </li>
          <li class="nav-item " ng-if="botonEntrar||checkLoginStatus()"> <a class="nav-link" ng-click="inicio()">{{lang.ir_a_musicien}} Musicien</a> </li>
          <li ng-if="!checkLoginStatus()" class="nav-item"> <a class="nav-link" ng-click="openModalRegistro()">{{lang.registrarse}}</a> </li>
          <li ng-if="!checkLoginStatus()" class="nav-item active"> <a class="nav-link" ng-click="openModalInicioSesion()">{{lang.inicio_sesion}} </a> </li>
          <li class="nav-item"> <a class="nav-link" ng-click="contacto()">{{lang.contacto}}</a> </li>
         
         
           
       
           <!-- IDIOMAS landing -->
          <li class="nav-item " style="width: 57px;position: relative;">
              <a class="nav-link dropdown-toggle pages" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <img ng-src="{{flagidiomaactivo}}" class="img-fluid ico-carrito" style="margin-top: 3px;width:20px;" />
               </a>
               <div class="dropdown-menu dropdown-menu-right " aria-labelledby="navbarDropdown" style="position: absolute; min-width: 32px;left:26%; top: 87%;background-color: #00000085;">
                   <span ng-repeat="idioma in idiomas track by $index">
                      <a id="menu_idiomas" class="dropdown-item" style="padding: 0px;"> 
                         <span  ng-click="cambiarIdioma(idioma)">
                            <img class="img-fluid d-block mx-auto" ng-click="cambiarIdioma(idioma)" ng-src="{{iconode(idioma.Icono)}}" style="width:20px;">

                             <!-- {{idioma.NombreIdioma}} -->
                          </span>
                        </a>
                            <div class="dropdown-divider" style="border-top: 1px solid #000;"></div>
                       </span>
                      </div>
                   </li>
                  <!--  FIN IDIOMAS -->


       </ul>
     </div>
   </div>
 </nav>


      <div class="row" id="valida">
          <div class="col-6 offset-3">
             <validaciones></validaciones>
          </div>
        </div>

    </div>
      </header>
<!-- FIN HEADER -->





  <div ng-view >

  </div>


    <!-- Footer
    ================================================= -->
    <div   ng-controller="chat" ng-hide="rutaActiva('/')">
      <div class="container">
        <div class="row">
          <div>
            <div id="panel-oculto"  class="{{claseChat()}}">
          <chat ></chat>

          <div class="buscador-chat-oculto">
             <chatsearch ></chatsearch>
          </div>
          </div>
          <div class="capa-salas-chat">
              <chatsalas></chatsalas>
          </div>

          <div style="position:fixed; bottom: 0; right:0;" class="btn-chat-o">
            <button type="" ng-click="mostrarChatt()" class="btn-mostrar-chatt" style="outline: none;"><i class="fa fa-comments fa-2x" aria-hidden="true"></i> Chat</button>
          </div>







          </div>
        </div>
      </div>
      <div class="copyright">

      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.3/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <script src="js/jquery.scrollbar.min.js"></script>
    <script src="js/script.js"></script>

    <!--Cosas DevExpress -->
    <script type="text/javascript" src="js/dx.all.js">

    </script>
    <link rel="stylesheet" href="css/dx.common.css">
    <link rel="stylesheet" href="css/dx.contrast.css">
    <link rel="stylesheet" href="css/dx.light.css">


<!-- COSAS DEL HOME -->

 <!--  <script src="js/bootstrap.min.js"></script> -->
  <script src="js/scrollPosStyler.js"></script>
  <script src="js/swiper.min.js"></script>
  <script src="js/isotope.min.js"></script>
  <script src="js/nivo-lightbox.min.js"></script>
  <script src="js/wow.min.js"></script>
  <script src="js/core.js"></script>




  </body>
</html>
