<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel"> AVISO LEGAL</h5>
    <button type="button" class="close" ng-click="cancel()">
      <span >&times;</span>
    </button>
  </div>
  <div style="height:500px; overflow-y: auto; ">
    <div class="modal-body">
    <div class="main">
      <h6 class="text-center">0. OBJETO Y ACEPTACIÓN</h6>
       <div class="col-12 mb-2">
         El presente aviso legal regula el uso del sitio web HTTP://MUSICIEN.ES (en adelante, LA WEB), del que es titular RUBÉN AMORES OLIVARES (en adelante, EL PROPIETARIO DE LA WEB).

        La navegación por el sitio web de EL PROPIETARIO DE LA WEB atribuye la condición de usuario del mismo e implica la aceptación plena y sin reservas de todas y cada una de las disposiciones incluidas en este Aviso Legal, que pueden sufrir modificaciones.

        El usuario se obliga a hacer un uso correcto del sitio web de conformidad con las leyes, la buena fe, el orden público, lo s usos del tráfico y el presente Aviso Legal. El usuario responderá frente a EL PROPIETARIO DE LA WEB o frente a terceros, de cualesquiera daños y perjuicios que pudieran causarse como consecuencia del incumplimiento de dicha obligación.
        </div>
        <h6 class="text-center">1. IDENTIFICACIÓN Y COMUNICACIONES</h6>
       <div class="col-12 mb-2">
          EL PROPIETARIO DE LA WEB, en cumplimiento de la Ley 34/2002, de 11 de julio, de servicios de la sociedad de la información y de comercio electrónico, le informa de que: Su denominación social es: RUBÉN AMORES OLIVARES Su CIF es: 06276443L Su domicilio social está en: C/ VIRGEN DE CRIPTANA, 18 PORTAL 1 1ºB - 13610 -  CAMPO DE CRIPTANA - CIUDAD REAL - ESPAÑA.

          Para comunicarse con nosotros, ponemos a su disposición diferent es medios de contacto que detallamos a continuación: Teléfno: 616 201 045 Email: MUSICIEN@MUSICIEN.ES. Todas las notificaciones y comunicaciones entre los usuarios y EL PROPIETARIO DE LA WEB se considerarán eficaces, a todos los efectos, cuando se realicen a través de correo postal o cualquier otro medio de los detallados anteriormente.
        </div>
        <h6 class="text-center">CONDICIONES DE ACCESO Y UTILIZACIÓN</h6>
        <div class="col-12">
           El sitio web y sus servicios son de acceso libre y gratuito, no obstante, EL PROPIETARIO DE LA WEB condiciona la utilización de algunos de los servicios ofrecidos en su web a al previo pago.  El usuario garantiza la autenticidad y actua lidad de todos aquellos datos que comunique a EL PROPIETARIO DE LA WEB y será el único responsable de las manifestaciones falsas o inexactas que realice. El usuario se compromete expresamente a hacer un uso adecuado de los contenidos y servicios de EL PROPIETARIO DE LA WEB y a no emplearlos para, entre otros:

a) Difundir contenidos, delictivos, violen tos, pornográficos, racistas, xenófobo, ofensivos, de apología del terrorismo o, en ge neral, contrarios a la ley o al orden público.

b) Introducir en la red virus informáticos o realizar actuaci ones susceptibles de alterar, estropear, interrumpir o gene rar errores o daños en los documentos electrónicos, datos o sistemas físicos y lógicos de EL PROPIETARIO DE LA WEB o de terceras personas; así como obs taculizar el acceso de otros usuarios al sitio web y a sus servicios mediante el consumo masivo de los recursos informáticos a través de los cuales EL PROPIETARIO DE LA WEB presta sus servicios.

c) Intentar acceder a las cuentas de correo electrónico de otros usuarios o a áreas restringidas de los sistemas informá ticos de EL PROPIETARIO DE LA WEB o de terceros y, en su caso, extraer información.

d) Vulnerar los derechos de propiedad inte lectual o industrial, así como violar la confidencialidad de la información de EL PROPIETARIO DE LA WEB o de terceros.

e) Suplantar la identidad de otro usuario, de las administracion es públicas o de un tercero.

f) Reproducir, copiar, distribu ir, poner a disposición o de cualquier otra forma comunicar públicamente, transformar o m odificar los contenidos, a menos que se cuente con la autorizaci ón del titular de los corres pondientes derechos o ello resulte legalmente permitido.

g) Recabar datos con finalidad publicitaria y de remitir publicidad de cualquier clase y comunicaciones con fines de venta u otras de naturaleza comercial sin que medie su previa solicitud o consentimiento.

Todos los contenidos del sitio web, como textos, fotografías, gráficos, imágenes, iconos, tecnología, software, así como su di seño gráfico y códigos fuente, constituyen una obra cuya propiedad pertenece a EL PROPIETARIO DE LA WEB, sin que puedan entenderse cedidos al usuario ninguno de los derechos de explotación sobre los mismos más allá de lo estrictamente necesa rio para el correcto uso de la web.

En definitiva, los usuarios que accedan a este sitio web pueden visualizar los contenidos y efectuar, en su caso, copias privadas autorizadas siempre que los elementos reproducidos no sean cedidos posteriormente a terceros, ni se instalen a servidores conectados a redes, ni sean objeto de ningún tipo de explotación.

Asimismo, todas las marcas, nombres comerciales o signos distin tivos de cualquier clase que aparecen en el sitio web son pr opiedad de EL PROPIETARIO DE LA WEB, sin que pueda entenderse que el uso o acc eso al mismo atribuya al usuario derecho alguno sobre los mismos.

La distribución, modificación, cesión o comunicación pública de los contenidos y cualquier otro acto que no haya sido expresamente autorizado por el titular de los derechos de explotación quedan prohibidos.

El establecimiento de un hiperenlace no implica en ningún caso la existencia de relaciones entre EL PROPIETARIO DE LA WEB y el propietario del sitio web en la que se establezca, ni la aceptación y apr obación por parte de EL PROPIETARIO DE LA WEB de sus contenidos o servicios. Aquellas personas que se propongan establecer un hiperenlace previamente deberán solic itar autorización por escrito a EL PROPIETARIO DE LA WEB. En todo caso, el hiperenlace únicamente permitirá el acceso a la home-page o página de inicio de nuestro sitio web, asimismo deberá abstenerse de realizar manifestaciones o indicaciones falsas, inexactas o incorrectas sobre EL PROPIETARIO DE LA WEB, o incluir contenidos ilícitos, contrarios a las buenas costumbres y al orden público.

EL PROPIETARIO DE LA WEB no se responsabiliza del uso que cada usuario le dé a los materiales puestos a disposición en este sitio web ni de las actuaciones que realice en base a los mismos.. El usuario garantiza la autenticidad y actua lidad de todos aquellos datos que comunique a EL PROPIETARIO DE LA WEB y será el único responsable de las manifestaciones falsas o inexactas que realice. El usuario se compromete expresamente a hacer un uso adecuado de los contenidos y servicios de EL PROPIETARIO DE LA WEB y a no emplearlos para, entre otros:

a) Difundir contenidos, delictivos, violen tos, pornográficos, racistas, xenófobo, ofensivos, de apología del terrorismo o, en ge neral, contrarios a la ley o al orden público.

b) Introducir en la red virus informáticos o realizar actuaci ones susceptibles de alterar, estropear, interrumpir o gene rar errores o daños en los documentos electrónicos, datos o sistemas físicos y lógicos de EL PROPIETARIO DE LA WEB o de terceras personas; así como obs taculizar el acceso de otros usuarios al sitio web y a sus servicios mediante el consumo masivo de los recursos informáticos a través de los cuales EL PROPIETARIO DE LA WEB presta sus servicios.

c) Intentar acceder a las cuentas de correo electrónico de otros usuarios o a áreas restringidas de los sistemas informá ticos de EL PROPIETARIO DE LA WEB o de terceros y, en su caso, extraer información.

d) Vulnerar los derechos de propiedad inte lectual o industrial, así como violar la confidencialidad de la información de EL PROPIETARIO DE LA WEB o de terceros.

e) Suplantar la identidad de otro usuario, de las administracion es públicas o de un tercero.

f) Reproducir, copiar, distribu ir, poner a disposición o de cualquier otra forma comunicar públicamente, transformar o m odificar los contenidos, a menos que se cuente con la autorizaci ón del titular de los corres pondientes derechos o ello resulte legalmente permitido.

g) Recabar datos con finalidad publicitaria y de remitir publicidad de cualquier clase y comunicaciones con fines de venta u otras de naturaleza comercial sin que medie su previa solicitud o consentimiento.

Todos los contenidos del sitio web, como textos, fotografías, gráficos, imágenes, iconos, tecnología, software, así como su di seño gráfico y códigos fuente, constituyen una obra cuya propiedad pertenece a EL PROPIETARIO DE LA WEB, sin que puedan entenderse cedidos al usuario ninguno de los derechos de explotación sobre los mismos más allá de lo estrictamente necesa rio para el correcto uso de la web.

En definitiva, los usuarios que accedan a este sitio web pueden visualizar los contenidos y efectuar, en su caso, copias privadas autorizadas siempre que los elementos reproducidos no sean cedidos posteriormente a terceros, ni se instalen a servidores conectados a redes, ni sean objeto de ningún tipo de explotación.

Asimismo, todas las marcas, nombres comerciales o signos distin tivos de cualquier clase que aparecen en el sitio web son pr opiedad de EL PROPIETARIO DE LA WEB, sin que pueda entenderse que el uso o acc eso al mismo atribuya al usuario derecho alguno sobre los mismos.

La distribución, modificación, cesión o comunicación pública de los contenidos y cualquier otro acto que no haya sido expresamente autorizado por el titular de los derechos de explotación quedan prohibidos.

El establecimiento de un hiperenlace no implica en ningún caso la existencia de relaciones entre EL PROPIETARIO DE LA WEB y el propietario del sitio web en la que se establezca, ni la aceptación y apr obación por parte de EL PROPIETARIO DE LA WEB de sus contenidos o servicios. Aquellas personas que se propongan establecer un hiperenlace previamente deberán solic itar autorización por escrito a EL PROPIETARIO DE LA WEB. En todo caso, el hiperenlace únicamente permitirá el acceso a la home-page o página de inicio de nuestro sitio web, asimismo deberá abstenerse de realizar manifestaciones o indicaciones falsas, inexactas o incorrectas sobre EL PROPIETARIO DE LA WEB, o incluir contenidos ilícitos, contrarios a las buenas costumbres y al orden público.

EL PROPIETARIO DE LA WEB no se responsabiliza del uso que cada usuario le dé a los materiales puestos a disposición en este sitio web ni de las actuaciones que realice en base a los mismos.
        </div>
  </div>
  


      <div class="col-xs-6 col-md-6 pull-right mt-4">
          

      <span class="clearfix"></span>
          </div>
      <!-- <div class="login-footer">
      <div class="row">
                          <div class="col-xs-6 col-md-6">
                              <div class="left-section">
                  <a href="">Olvidaste tu contraseña?</a>
                  <a href="">Sign up now</a>
                </div>
                          </div>
                          <div class="col-xs-6 col-md-6 pull-right">
                              <button type="submit" class="btn btn-large btn-danger pull-right">Login</button>
                          </div>
                      </div>

      </div> -->
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

        </div> -->
      </div>
