<div class="container-fluid">
  <div class="row justify-content-end" style="margin-bottom: 60px;"> 


       
   <!--  CHAT GENERAL OPCIONES -->
<div class=" " >
       <div class="container">
        <div class="row">
          <div class="col-12">

              <div class="" ng-if="cargandoChat">
                <img src="img/loader.gif" alt="" class="d-block mx-auto img-fluid">
       
              </div>

     
    <div >

      <div class="mt-1" ng-repeat="conversacion in getConversaciones()" >
       <!--  {{conversacion.roomName}} {{conversacion.Leido}} {{esUnGrupo(conversacion)}} -->
        
        
        <div class="" ng-if="esUnGrupo(conversacion)">
             <div class="row py-3" style="border-bottom: 1px solid #e0e0e0; cursor: pointer;">
              <div class="col-2" ng-click="mostrarChat(conversacion, true)"> <i class="fa fa-users" aria-hidden="true"></i></div>
              <div class="col" ng-click="mostrarChat(conversacion, true)">
                 {{conversacion.Titulo}} 
              </div>
              <div class="col" style="font-size:16px;" ng-click="mostrarChat(conversacion, true)">
                 <i class="ion-email-unread" style="color:{{comprobarLeidos(conversacion)}}"></i>
              </div>
              <div class="col">
                  <div class=" dropdown">
                             <button class="dropdown-toggle btn-sm btn-opciones " id="navbarDropdownOp" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             <i class="fa fa-cog btn-prefe-chat" aria-hidden="true"></i>
                            </button>
                              <div class="dropdown-menu menu-op-chat" aria-labelledby="navbarDropdownOp">
                                
                                <a class="dropdown-item" ng-click="salirConversacion(conversacion)">{{lang.salir_conversa}}</a>
                               <!--  <a class="dropdown-item" href="#"><i class="ion-person-add mr-1"></i>  Crear nuevo perfil</a> -->
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item"  ng-click="asignarGrupoParaAnadir(conversacion)">{{lang.anadir_usuarios}}</a>
                              </div>
                        </div> 
              </div>
             
             </div>
         
        </div>
       
        <div class="" ng-if="!esUnGrupo(conversacion)">
          <div class="" ng-repeat="chatuser in conversacion.Users | filter:nosoyyo">
            <div class="row py-3" style="border-bottom: 1px solid #e0e0e0; cursor: pointer;">
              <div class="col-2" ng-click="mostrarChat(conversacion, true)">
              <div class="chat-usuario">
                <img ng-src="{{obtenerImagenUsuario(chatuser)}}" alt="" class="profile-photo-sm" style="width: 24px; height: 24px;">
                  <div class="chat-conectado">
                    <i class="ion-record" style="color:{{comprobarEstado(chatuser)}}"></i>
                  </div>
                  
              </div>
                 
              </div>
              <div class="col-auto" ng-click="mostrarChat(conversacion, true)" ><small>{{chatuser.UserName}}</small></div>
              <div class="col text-right" style="font-size:16px;" ng-click="mostrarChat(conversacion, true)">
                  <i class="ion-email-unread" style="color:{{comprobarLeidos(conversacion)}}"></i>
              </div>
              <!-- <div class="col">
                 
                   <div class=" dropdown">
                             <button class="dropdown-toggle btn-sm btn-opciones " id="navbarDropdownOp" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             <i class="fa fa-cog btn-prefe-chat" aria-hidden="true"></i>
                            </button>
                              <div class="dropdown-menu menu-op-chat" aria-labelledby="navbarDropdownOp">
                                
                                <a class="dropdown-item" ng-click="salirConversacion(conversacion)">Salir de conversación</a>
                               
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item"  ng-click="asignarGrupoParaAnadir(conversacion)">Añadir usuarios</a>
                              </div>
                        </div> 

              </div> -->


            </div>
          </div>
        </div>

      </div>
    
     <div class="row">
       <div class="col-12">
        <div class="row" ng-if="anadirAGrupo"> 
          <!-- añadir a grupo ya hecho -->
          <div class="col-12">
            <small>{{lang.utiliza_buscador_para}}</small>
          </div>
          <div class="col-12">
            <button type="submit" name="" value="" ng-click="anadirPersonasAGrupo()"> <i class="fa fa-users" aria-hidden="true"></i>{{lang.anadir_grupo}} {{conversacionAsignadaAnadir.Titulo}}</button>
          </div>
          <!-- fin añadir a grupo ya hecho -->
        </div>
        <!--  inicio nuevo grupo -->
        <div class="row" ng-if="selectedUsers.length>0">
         <div class="col-12" ng-if="!anadirAGrupo">
          <div class="row">
            <div class="col-12 ">  
              <small>{{lang.utiliza_buscar_usuarios}}</small>
            </div> 
            <div class="col-12">
            <div class="input-group">
              <input type="text" class="form-control form-control-sm" ng-model="groupName" id="groupName" placeholder="Nombre del Grupo" >
              <span class="input-group-btn">
              <button class="btn btn-default btn-sm" type="button" value="Crear un grupo" ng-click="crearGrupo()"">{{lang.crear}}</button>
             </span>
          </div>
          </div> 
          </div>
           
         
         </div>
        </div>
        <!-- fin inicio nuevo grupo -->
       

      
      
      
      
       <!-- Seleccion de usuarios   -->
     
      <div class="row" ng-repeat="chatuser in selectedUsers track by $index">
        <div class="col">
          <img ng-src="{{obtenerImagenUsuario(chatuser)}}" alt="" class="profile-photo-sm" style="width: 20px; height: 20px;">
          <i class="ion-record" style="color:{{comprobarEstado(chatuser)}}"></i>
          {{chatuser.UserName}}
        </div>
        <div class="col">
          <a  ng-click="unseleccionarUsuario($index)"><i class="fa fa-trash" aria-hidden="true"></i><small> {{lang.borrar}}</small> </a>
        </div>
        </div>
       <!--  Fin seleccion de usuarios -->
      </div>
    </div>
     
        <!--  LISTADO DE USUARIOS -->
    <div class="row mt-2" ng-repeat="chatuser in filtroUsuarios | filter:mifiltrouser | filter:noselected" style="background-color: #fff;">
      
       <div class="col-1" >
          <div class="chat-usuario">
            <img ng-src="{{obtenerImagenUsuario(chatuser)}}" alt="" class="profile-photo-sm" style="width: 20px; height: 20px">
          </div>
          <div class="chat-conectadolistado">
             <i class="ion-record" style="color:{{comprobarEstado(chatuser)}}"></i>
          </div>
        </div> 
        <div class="col-auto" ng-click="IniciarChat(chatuser.IDUsuario)">
         <small>{{chatuser.UserName}}</small> 
        </div>
        <div class="col">
          <a ng-click="IniciarChat(chatuser.IDUsuario)"> <i class="fa fa-user-plus" aria-hidden="true"></i> <small>{{lang.anadir_chat}} </small> </a>
        </div> 
       <div class="col-auto" >
          <a  ng-click="seleccionarUsuario(chatuser)" ><i class="fa fa-users" aria-hidden="true"></i><small>{{lang.anadir_grupo}}</small></a>
        </div>
      </div>  
      
      <!-- FIN LISTADO DE USUARIOS -->
      
       
     
    </div>
       </div>
     </div>
      
    <div class="row">
      <div ng-click="abrirChat()" class="col-12 text-center" style="cursor: pointer;">
      <i class="fa fa-comments-o" aria-hidden="true" style="color:{{IsConnected()}}"></i>
       <strong> <small>{{lang.tienes}} <span ng-if="chatConectado"></span>{{cantidadMsjPendientes()}} {{lang.mensajes_sin_leer}}</small></strong>
      </div>
    </div>
  </div>
</div>



</div>

    </div>
<!-- FIN CHAT GENERAL OPCIONES -->
 





 


















