
<div class="row">
  <div class="col " data-sticky_column >
  <div class="col-derecha">
      <h4 class="grey text-center">{{lang.encuentra}}</h4>
      <ul class="nav-news-feed " >
        <li class="cursor"><img class="icon-menu color-ico" src="img/publica1.png" alt=""><a class="cursor" ng-click="PublicacionesLeerTodas()"><div>{{lang.ultimas_publi}}</div></a></li>
        <li class="cursor"><img class="icon-menu color-ico" src="img/perfiles-filtro.png" alt=""><a  class="cursor" ng-click="VerPerfiles()"><div>{{lang.perfiles}}</div></a></li>
        <li class="cursor" ng-hide="usuario.Login!==true" ng-repeat="filtro in TopFiltros"><a ng-click="filtrarPorFiltro(filtro)" class="cursor">  <span infinite-scroll="cargarMultimediaFiltro(filtro)" infinite-scroll-disabled="filtro.Cargada"></span><img class="icon-menu color-ico"  ng-src="{{filtro.DataContenidoMM}}" alt=""><div>{{filtro.NombreFiltro}}</div></a>
        </li>
      </ul>
  </div>
  </div>
</div>
