
<div class="suggestions" id="sticky-sidebar">

  <div class="col-12 p-2">
    <h4 class="grey"> <i class="ion ion-funnel"></i> {{lang.busqueda_avanzada}}</h4>
  <div class="">
    <div class="form-group">
      <input type="text" placeholder="Escribe una palabra para buscar algo.." class="form-control form-control-sm" ng-model="filtros.Cadena">
    </div>
    <div class="row">
     <div class="col-12">

         <strong>
           {{lang.buscar_rango_fechas}}
         </strong>


      </div>
      <div class="col-6">
        <label><small>{{lang.desde}}</small></label>
       <input type="date" class="form-control form-control-sm" name="" value="" ng-model="filtros.FechaDesdeHTML">


      </div>
      <div class="col-6">
      <label><small>{{lang.hasta}}</small></label>
        <input type="date" class="form-control form-control-sm" name="" value="" ng-model="filtros.FechaHastaHTML">
      </div>

    </div>



     <div class="form-group mt-3">
      <div class="line-divider"></div>
       <label for=""> <strong>{{lang.ordena_por}}:</strong></label>

       <select class="form-control form-control-sm" name="" ng-model="filtros.Orden">
        <option value="F">{{lang.fecha}}</option>
        <option value="O">{{lang.mas_vistos}}</option>
        <option value="V">{{lang.mas_valor}}</option>
        <option value="L">{{lang.mas_megusta}}</option>
      </select>

            <div class="line-divider"></div>
       <label for=""> <strong>{{cambiar_orden}}</strong></label>
      <div class="form-check form-check-inline ">
        <label class="form-check-label">
          <i class="fas fa-sort-amount-up"></i> <input type="checkbox" name="" value="" ng-model="filtros.Asc">
        </label>
      </div>
     </div>

     <div class="form-group ">
       <div class="line-divider"></div>
       <label for=""> <strong>{{lang.mostrar_solo}}</strong></label>
       <br>
      <div class="form-check form-check-inline" ng-repeat="tipo in filtros.TipoPubli">
        <label class="form-check-label">
         <input type="checkbox" name="" value="" ng-model="tipo.Checked" class="form-check-input">{{tipo.NombreTipo}}
        </label>
      </div>
     </div>
     <div class="form-group ">
       <div class="line-divider"></div>
       <label for=""> <strong>{{lang.mostrar_solo}}</strong></label>
       <br>
      <div class="form-check form-check-inline" ng-repeat="categoria in filtros.Categorias">
        <label class="form-check-label">
         <input type="checkbox" name="" value="" ng-model="categoria.Checked" class="form-check-input">{{categoria.Descripcion}}
        </label>
      </div>
     </div>
     <button type="submit" class="form-control btn-filtro" ng-click="FiltrarPublicaciones()"><i class="fas fa-check-square"></i> {{lang.aplicar_filtros}}</button>
  </div>
  </div>


</div>
