
		<div class="mb-2" ng-hide="usuario.Login!==true">
			<div class="row ">
				<div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">
					<input class="form-control form-control-sm" type="text" name="" value="" ng-model="newComentario.Descripcion" placeholder="deja un comentario">
				</div>
				<div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 ">
					<input type="submit" name="" value="Enviar" class=" form-control form-control-sm pull-right" ng-click="enviarComentario()">
				</div>
			</div>
		</div>


