
	<div class="row " >
		<div class="col ">
			<div id="sugerencias" class="col-derecha pt-3 text-center">

					<div class="row justify-content-end">
					<div class="col-auto text-center">
						<div class="title mx-4 "><h6 class="grey">{{lang.publicidad}}</h6></div>
					</div>
					<div class="col text-right align-self-start">
						
					</div>
				</div>



				<div class="container mx-0">
					<div class="row">
						<!-- <div class="col-12">
							<ul class="slide text-center">
							   <li class="px-5" ng-repeat="publicacion in publipubli">
								    <publicidad-top></publicidad-top>
							    </li>
							   </ul>
							 

						</div> -->
						<div class="col-12">
							<div dx-gallery="galeria" dx-item-alias="publicacion">
									<publicidad-top></publicidad-top>
						        
						    </div>
						</div>
					</div>
				</div>

			</div>


		</div>


	</div>
