<span ng-if="publicacion.IDRePublicacion>0">
<div class="container">
  <div class="row">
    <div class="col-12 p-3">

       <img ng-src="{{publicacion.ReUsuarioDataContenidoMM}}" alt="user" class="profile-photo-md pull-left mr-1" ng-click="verPerfil(publicacion.Usuario)" style="width: 24px;height: 24px;" />
        <p><strong> <i class="fa fa-retweet"></i> {{publicacion.NombreReUsuario}}</strong> <span style="font-size:12px;">ha remusiqueado una publicación de </span> <strong>{{ publicacion.Usuario.Nombre }}</strong>  <span style="font-size:12px;"> hace {{calcularReTiempo(publicacion)}}</span></p>
    </div>
  </div>
</div>

</span>
<div class="row p-2">
  <div class="col-12">
    <span infinite-scroll="cargarMultimedia(publicacion)" infinite-scroll-disabled="publicacion.Cargada"></span>
   <!--  <img  ng-click="verPublicacion(publicacion)" ng-src="{{publicacion.DataContenidoMM}}" class="img-responsive post-image"> -->
    <img ng-src="{{publicacion.Usuario.DataContenidoMM}}" alt="user" class="profile-photo-md pull-left" ng-click="verPerfil(publicacion.Usuario)"/>
    <div class="row">
      <div class="col-9" >

          <a class="profile-link" ng-click="verPerfil(publicacion.Usuario)">{{publicacion.Usuario.Nombre}}</a>
          <span class="following " ng-hide="condicionesSeguir(publicacion.Usuario)">

                     <input type="submit" ng-click="SeguirDejarSeguirUsuario(publicacion.Usuario)"  class="{{claseSeguirMini(publicacion.Usuario)}}" value="{{valorSeguir(publicacion.Usuario)}}"/>




            </span>
          <small  class="d-block" style="margin-top:-10px; ">subio un {{publicacion.TipoPubli.NombreTipo}} {{calcularTiempo(publicacion)}}</small>
           <h3 ng-click="verPublicacion(publicacion)"  class="profile-link text-justify" style="font-size: 18px; ">{{publicacion.Titulo}}</h3>





      </div>
      <div class="col-3 text-right">
        <div class="dropdown" ng-if="siEsMio(publicacion.Usuario.IDUsuario)">
                             <button class="dropdown-toggle btn-sm btn-opciones " id="navbarDropdownOp" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            </button>
                              <div class="dropdown-menu menu-op-chat dropdown-menu-right" aria-labelledby="navbarDropdownOp">

                               <!--  <a class="dropdown-item" ng-click=""><i class="fa fa-pencil" aria-hidden="true"></i> Editar </a>
                                <div class="dropdown-divider"></div> -->
                                <a class="dropdown-item"  ng-click="modificarPublicacion(publicacion)"><i class="fa fa-trash-o" aria-hidden="true"></i>  Modificar </a>
                                <a class="dropdown-item"  ng-click="eliminarPublicacion(publicacion, $index)"><i class="fa fa-trash-o" aria-hidden="true"></i>  Eliminar </a>
                               <!--  <a class="dropdown-item" href="#"><i class="ion-person-add mr-1"></i>  Crear nuevo perfil</a> -->

                               <!--  <a class="dropdown-item"  ng-click="asignarGrupoParaAnadir(conversacion)">Añadir usuarios</a> -->
                              </div>
                        </div>
         <p style="color:#6d6e71; font-size: 12px"> <i class="ion-compose "></i> {{publicacion.TipoPubli.NombreTipo}} </p>
      </div>
    </div>
  </div>
</div>
<span ng-hide="!modificando">
  <modificar-post></modificar-post>
</span>
<div class="post-container" ng-if="!modificando">
  <div class="row" ng-if="esCompraVenta(publicacion)">
    <div class="col-8 ">
      <div ng-repeat="propiedad in publicacion.TipoPubli.Propiedades.slice(1,2)"><!-- IMAGEN -->
    <contenedor-propiedades-unico>
    </contenedor-propiedades-unico>
  </div>
    </div>
    <div class="col-4">
      <div ng-repeat="propiedad in publicacion.TipoPubli.Propiedades.slice(2,publicacion.TipoPubli.Propiedades.length)"><!-- ubicacion y precio-->
        <contenedor-propiedades>
        </contenedor-propiedades>
      </div>
    </div>
  </div>
   <div class="row" ng-repeat="propiedad in publicacion.TipoPubli.Propiedades" ng-if="!esCompraVenta(publicacion)">
    <div class="col-12 " >
      <contenedor-propiedades-unico>
      </contenedor-propiedades-unico>
    </div>
  </div>
  <div class="row" ng-hide="estabamodificando">
        <div class="col-12">
        <div class="line-divider"></div>
          <valoraciones-publicacion>
          </valoraciones-publicacion>
        </div>
      </div>

</div>
