<div class="row p-0 m-0 cursor">
  <div class="col-12">
    <span infinite-scroll="cargarMultimedia(publicacion)" infinite-scroll-disabled="publicacion.Cargada"></span>
   <!--  <img  ng-click="verPublicacion(publicacion)" ng-src="{{publicacion.DataContenidoMM}}" class="img-responsive post-image"> -->
      <!-- <img ng-src="{{publicacion.Usuario.DataContenidoMM}}" alt="user" class="profile-photo-md pull-left" ng-click="verPerfil(publicacion.Usuario)"/> -->
    <div class="row">
      <div class="col-12 text-center cursor">
        <p ng-click="verPublicacion(publicacion)"  class=" text-center " style="font-size: 16px;font-weight: bold; color: orange; text-transform:  uppercase; cursor: pointer;  ">{{publicacion.Titulo}}</p>
      </div>
    </div>
  </div>
</div>
<div class="post-container px-3 pt-0 pb-3" style="margin-top: -24px;">
   <div class="row" ng-repeat="propiedad in publicacion.TipoPubli.Propiedades">
    <div class="col-12" ng-click="verPublicacion(publicacion) " style="cursor: pointer;">
    
      <contenedor-propiedades-top>
      </contenedor-propiedades-top>
    </div>
  </div>
  <hr>
</div>
          <!-- <a class="profile-link" ng-click="verPerfil(publicacion.Usuario)">{{publicacion.Usuario.Nombre}}</a> -->
         <!--  <span class="following " ng-hide="condicionesSeguir(publicacion.Usuario)">

                     <input type="submit" ng-click="SeguirDejarSeguirUsuario(publicacion.Usuario)"  class="{{claseSeguirMini(publicacion.Usuario)}}" value="{{valorSeguir(publicacion.Usuario)}}"/>




            </span> -->
          <!-- <small  class="d-block" style="margin-top:-10px; ">subio un {{publicacion.TipoPubli.NombreTipo}} {{calcularTiempo(publicacion)}}</small> -->
         





      
     <!--  <div class="col text-right">
         <p style="color:#6d6e71; font-size: 12px"> <i class="ion-compose "></i> {{publicacion.TipoPubli.NombreTipo}} </p>
      </div> -->