<!--holi creando post
<p>Publicar como:</p>
<select class="" name="" ng-model="newIDUsuario">
  <option value="usuario.IDUsuario">Tu mismo</option>
  <option ng-repeat="user in FakeUsers" value="{{user.IDUsuario}}">{{user.Nombre}}</option>
</select>-->
<!-- <span ng-if="publicacion.TipoPubli.Privado>0"> -->
 <!--  {{publicacion.TipoPubli.Privado}} -->
 <!-- <form  class="form-horizontal">
 <div class="row pb-3">
 	
 	<h2 class="text-center">Indica fecha de inicio y fin de la campaña de publicidad</h2>
	<div class="col-md-6 offset-md-3">
		<label class="control-label ">Fecha de Inicio:</label>
		<input class="form-control" type="date" name="" value="" ng-model="publicacion.FechaDesde">  </div>
	<div class="col-md-6 offset-3"> 
		<label class="control-label">Fecha Fin:</label> 
		<input class="form-control" type="date" name="" value="" ng-model="publicacion.FechaHasta"> </div>
		<div class="col-md-6 offset-md-3">
			<label class="control-label">Indica una posición</label>
			<select class="form-control" name="" ng-model="selectedPosition" ng-change="posicionCambiada(this)">
      			<option ng-repeat="posicion in posiPubli" value="{{posicion}}" >{{posicion.NombrePosicion}}</option>
  			</select>
 	
		</div>	
 </div>
 </form> -->
  
<!-- </span> -->
<div class="container">
<div class="row">
		<div class="">
			<crear-post></crear-post>
		</div>
</div>
</div>



