<div>
  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <form>
          <h1>Acceso a la Administración {{IDIdioma}}</h1>
          <div>
            <input type="text" class="form-control" placeholder="Email" ng-model="user" required="" />
          </div>
          <div>
            <input type="password" class="form-control" placeholder="Password" ng-model="password" required="" />
          </div>
          <div>
            <a class="btn btn-default submit" ng-click="login()">Log in</a>
            <a class="reset_pass">¿Olvidaste tu contraseña?</a>
          </div>

          <div class="clearfix"></div>

          <div class="separator">
            <div class="clearfix"></div>
            <br />

            <!--<div>
              <h1><i class="fa fa-paw"></i> deS</h1>
              <p>Hola</p>
            </div>-->
          </div>
        </form>
      </section>
    </div>
  </div>
</div>
