<div class="x_panel">
  <div class="x_content">
    <div class="row">
      <div class="col-md-6">
        <h1>
          <i class="glyphicon glyphicon-list "></i> Publicaciones Musicien
        </h1>
      </div>
     
      
      <div class="col-md-12">
        <table class="table table-striped">
          <tr>
            <th>Titulo</th>
            <th>Tipo</th>
            <th>Fecha</th>
            <th>Editar</th>
            <th>Borrar</th>
            <th>Fijar Arriba</th>
          </tr>
          <tr ng-repeat="publicacion in publis.Publicaciones">
            <td>{{publicacion.Titulo}}</td>
            <td>{{publicacion.TipoPubli.NombreTipo}}</td>
            <td>{{transformarFecha(publicacion.Creacion).Fecha}}</td>
            <td><i class="glyphicon glyphicon-pencil" ng-click="modificarPublicacion(publicacion)"></i></td>
            <td ng-click="eliminarPublicacion(publicacion, $index)"><i class="glyphicon glyphicon-remove"></i></td>
            <td ng-click="cambiarFijacion(publicacion)"><i class="{{claseFijada(publicacion.Fijado)}}"></i></td>
          </tr>
        </table>
         <div class="col-md-12"><hr></div>
        <div class="col-md-6">
          <h1>Publicaciones Fijadas</h1>
      </div>
        <table class="table table-striped">
        <tr>
          <th>Titulo</th>
          <th>Tipo</th>
          <th>Fecha</th>
          <th>Editar</th>
          <th>Borrar</th>
          <th>Quitar</th>
        </tr>
        <tr ng-repeat="publicacion in publis.Publicaciones | filter:estaFijado">
          <td>{{publicacion.Titulo}}</td>
          <td>{{publicacion.TipoPubli.NombreTipo}}</td>
          <td>{{transformarFecha(publicacion.Creacion).Fecha}}</td>
          <td><i class="glyphicon glyphicon-pencil" ng-click="modificarPublicacion(publicacion)"></i></td>
          <td ng-click="noTeDejo()"><i class="glyphicon glyphicon-remove"></i></td>
          <td ng-click="cambiarFijacion(publicacion)"><i class="{{claseFijada(publicacion.Fijado)}}"></i></td>
        </tr>

      </table>
      <input ng-if="fijando" type="submit" name="" value="Guardar Cambios" class="form-control" ng-click="publicacionesFijar()">
      </div>

    </div>
  </div>
</div>







