<div class="row ">
  <div class="col-md-6 col-xs-12">
  <h1> <i class="fa fa-male" aria-hidden="true"></i> Perfiles</h1>
</div>
<div class="col-md-6 col-xs-12 text-right" >
 <input type="submit" name="" value="Guardar Cambios" class="btn btn-primary" ng-click="guardarCambios()">
</div>
</div>

<div class="col-md-6 col-xs-12">
  <div class="x_panel">
    <div class="">
      <h2>Nombre e Icono de Perfil</h2>
    </div>
    <div class="x_content">
    <form  class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Nombre del Perfil <span class="required">*</span>
        </label>
        <div class="col-md-9 col-sm-9 col-xs-12">
          <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" ng-model="categoria.Descripcion" placeholder="Ej. Músico, Dj, Sala de Conciertos...">
        </div>
      </div>
      <div class="form-group">

        <label class="col-md-3 col-sm-3 col-xs-12 control-label">Icono del Perfil</label>

        <div class="col-md-9 col-md-9 col-xs-12">
           <input class="form-control" type="file" name="" value="" onchange="cambioImgPerfil(this)" id="input-img-perfil">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12 text-center">
           <img class="ico-perfil" ng-src="{{ImagenDelPerfil(categoria)}}" alt="" width="60px">
        </div>
      </div>
      </form>
    </div>
  </div>
  <div class="x_panel">
     <div class="">
      <h2>Elementos de Perfíl</h2>
    </div>
     <div class="x_content">
      <form  class="form-horizontal">
        <div class="form-group">
           <label class="control-label col-md-3 col-sm-3 col-xs-12">Seleccionar uno de los elementos de perfil
            </label>
            <div class="col-md-9 col-xs-12">
              <select class="form-control"  ng-model="selectedObject" ng-change="AnadirObjeto()">
                <option value="{{tipoObjeto}}" ng-repeat="tipoObjeto in tiposObjeto | filter:noenlistaobjeto"> {{tipoObjeto.NombreTipoObjeto}}</option>
              </select>
              <small>Para crear nuevos elementos de perfíl deberá ir a Admin. de Perfiles > Elementos de perfil. No olvide guardar antes para guardar los cambios de este perfil.</small>
            </div>
            <div class="clearfix"></div>
            <hr>
            <div class="col-md-12  col-xs-12">
            <div class="tile-stats">
              <div class="row">
                <div class="col-md-12 text-center" style="padding: 10px;">
                <small>
                  Elementos seleccionados que aparecen en el perfil del usuario
                </small>
                <div class="clearfix"></div>
                   <ul class="list-unstyled list-inline">
                    <li ng-repeat="objeto in categoria.Objetos track by $index" style="padding: 5px;"> {{objeto.NombreTipoObjeto}} <button type="button" name="button" ng-click="eliminarObjeto($index)"> <i class="glyphicon glyphicon-remove"></i></button></li>
                  </ul>
                </div>
              </div>
            </div>
        </div>



        </div>
      </form>
    </div>
 </div>

</div>

<!-- SEGUNDA COLUMNA  -->
<div class="col-md-6 col-xs-12">
  <div class="x_panel">
    <div class="">
      <h2>Información del perfil</h2>
    </div>
    <div class="x_content">
      <form  class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Añadir información del perfil disponible
        </label>
        <div class="col-md-9 col-xs-12">
          <select class="form-control" name="" ng-model="selectedProperty" ng-change="AnadirPropiedad()">
            <option value="{{propiedad}}" ng-repeat="propiedad in propiedades | filter:noenlista"> {{propiedad.NombrePropiedad}}</option>
          </select>
          <small>Selecciona los campos para que el usuario cumplimente con su información Ej. Nombre Artístico, Ubicación.. (estos campos han sido creados con anterioridad).</small>
        </div>
        <!-- nueva -->

        <div class="clearfix"></div>
        <hr>
        <div class="col-md-12 col-sm-12 col-xs-12">
        <h2>Nuevo campo información del perfil</h2>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Nombre
          </label>
          <div class="col-md-9 col-xs-12">
          <input class="form-control" type="text" name="" value="" ng-model="newPropiedad.NombrePropiedad" placeholder="Texto descriptivo del campo Ej.Precio.. ">
          </div>
        </div>


        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Tipo
        </label>
        <div class="col-md-9 col-xs-12">
          <select class="form-control" name="" ng-model="newPropiedad.TipoValor">
          <option value="C">Texto</option>
          <option value="T">Área de Texto</option>
          <option value="I">Imagen</option>
          <option value="S">Sonido</option>
          <option value="V">Video</option>
          <option value="R">Lista de Reproducción</option>
          <option value="M">Precio</option>
          <option value="D">Fecha</option>
          <option value="Y">Antigüedad</option>
          <option value="J">Botón</option>
          <option value="L">Enlace</option>
          </select>
        </div>


        </div>
        <div class="form-group">
                  <div class="col-md-6 col-md-offset-6 col-xs-12 text-right">
                    <button  class="form-control btn btn-primary" type="submit" name="" value="Crear Propiedad" class="form-control" ng-click="crearPropiedad()">Guardar nuevo campo</button>
                 </div>
                </div>

        <div class="col-md-12  col-xs-12">
          <div class="tile-stats">
            <div class="row">
              <div class="col-md-12 text-center" style="padding: 10px;">
              <small>
                Campos seleccionados que aparecen en el perfil del usuario
              </small>
              <div class="clearfix"></div>
                <ul class="list-unstyled list-inline">
                  <!--<li class="" style="padding: 5px;" ng-repeat="propiedad in categoria.Propiedades track by $index"> {{propiedad.NombrePropiedad}}
                    <button type="button" name="button" ng-click="eliminarPropiedad($index)"> <i class="glyphicon glyphicon-remove"></i></button>
                  </li>-->
                  <li ng-repeat="propiedad in categoria.Propiedades track by $index">
                    <span class="tag"><span>
                      <input class="instrumentos_tag" type="text" ng-model="propiedad.NombrePropiedad">
                   <a ng-click="eliminarPropiedad($index)" title="Removing tag">x</a></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>

</div>
<!-- /FIN SEGUNDA COLUMNA -->
<div class="col-md-12 col-xs-12 text-right" >
 <input type="submit" name="" value="Guardar Cambios" class="btn btn-primary" ng-click="guardarCambios()">
</div>



<!--
__________________________________________________________________
<div>
  <div class="login_wrapper panel-body">
    <input type="text" name="" value="" class="form-control" ng-model="categoria.Descripcion">
    <img class="ico-perfil" ng-src="{{ImagenDelPerfil(categoria)}}" alt="" width="20px">
    <input type="file" name="" value="" onchange="cambioImgPerfil(this)" id="input-img-perfil">
    <div class="">
      <h3>Propiedades</h3>
      <h4>Seleccionar una de las propiedades disponibles</h4>
      <select class="form-control" name="" ng-model="selectedProperty" ng-change="AnadirPropiedad()">
        <option value="{{propiedad}}" ng-repeat="propiedad in propiedades | filter:noenlista"> {{propiedad.NombrePropiedad}}</option>
      </select>
      <div class="">
        <h4>Crear Nueva Propiedad</h4>
        <input class="form-control" type="text" name="" value="" ng-model="newPropiedad.NombrePropiedad">
        <select class="form-control" name="" ng-model="newPropiedad.TipoValor">
          <option value="S">Texto</option>
        </select>
        <input type="submit" name="" value="Crear Propiedad" class="form-control" ng-click="crearPropiedad()">
      </div>
      <ul>
        <li ng-repeat="propiedad in categoria.Propiedades track by $index"> {{propiedad.NombrePropiedad}} <button type="button" name="button" ng-click="eliminarPropiedad($index)"> <i class="glyphicon glyphicon-remove"></i></button></li>
      </ul>
    </div>
    <div class="">
      <h3>Características</h3>
      <h4>Seleccionar una de las características disponibles</h4>
      <h5>Si quieres crear una nueva... no se como decirte que si te vas a crearla vas a perder lo que tienes aqui sin guardar.</h5>
      <select class="form-control" name="" ng-model="selectedObject" ng-change="AnadirObjeto()">
        <option value="{{tipoObjeto}}" ng-repeat="tipoObjeto in tiposObjeto | filter:noenlistaobjeto"> {{tipoObjeto.NombreTipoObjeto}}</option>
      </select>
      <ul>
        <li ng-repeat="objeto in categoria.Objetos track by $index"> {{objeto.NombreTipoObjeto}} <button type="button" name="button" ng-click="eliminarObjeto($index)"> <i class="glyphicon glyphicon-remove"></i></button></li>
      </ul>
    </div>
    <input type="submit" name="" value="Guardar Cambios" class="btn btn-primary" ng-click="guardarCambios()">
  </div>
</div>-->
