
<div style="display: none">
	<h3>Playlist Soundcloud:</h3>
<span id="soundcloudplaylist"></span>
<input type="text" name="" value="" class="form-control"  ng-model="PlaylistSoundcloud">
</div>
<!-- 
<input type="submit" name="" value="Recargar" ng-click="recargarPlaylists()">
 -->
<div class="row">
	<div class="col-md-12" style="padding: 10px;">
		<h3>Playlist Spotify:</h3>
		<span id="spotifyplaylists"></span>
			<input type="text" name="" value="" class="form-control" ng-model="PlaylistSpotify" placeholder="Copia aquí la url de spotify">
	</div>
</div>



<button ng-click="guardarCambios()" type="button" class="btn btn-primary"> Guardar Playlist</button> 
