<div id="page-contents">
    <div class="container-fluid">

      <div class="row">


      <div ng-controller="TabsDemoCtrl" class="col-md-12 post-content ">
      <div class="text-center mb-5">
              <h1 class="mt-3">CONTRATA NUESTROS PLANES Y PROMOS MUSICIEN</h1>
              <p style="font-weight: 600;">Echa un vistazo a nuestros planes y promociones, contrata el plan o promoción que más se adecue a tus ncesidades y aprovecha al máximo MUSICIEN </p>
      </div>
        <form name="outerForm" class="tab-form-demo">

          <uib-tabset active="active" justified="true">
          <!--  TAB 1 GRUPOS Y SALAS -->
            <uib-tab index="0" >
              <uib-tab-heading>
               <h3> GRUPOS Y SALAS</h3>
              <!-- <img src="img/img-gruposalas.png" alt="" class="img-fluid mx-auto d-block" style="width: 36px;"> -->
              </uib-tab-heading>
             <ng-form name="">
                <div class="container-fluid" style="border-bottom: 2px solid #f3f3f3;">
                  <div class="row mx-5 align-items-center">
                    <div class="col-3">
                      <img src="img/img-gruposalas.png" alt="" class="img-fluid mx-auto d-block">
                    </div>
                    <div class="col-3 text-center" style="border-left: 1px dotted #f19103;">
                     <img src="img/megafono.png" alt="" class="img-fluid d-block mx-auto">
                      <h6><strong>Promociona tu local</strong></h6>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc condimentum arcu a cursus scelerisque. Etiam hendrerit turpis a magna molestie faucibus.</p>
                    </div>
                    <div class="col-3 text-center" style="border-left: 1px dotted #f19103;">
                      <img src="img/prismaticos-con-ojos.png" alt="" class="img-fluid d-block mx-auto">
                      <h6><strong>Encuentra nuevos talentos</strong></h6>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc condimentum arcu a cursus scelerisque. Etiam hendrerit turpis a magna molestie faucibus.</p>
                    </div>
                    <div class="col-3 text-center" style="border-left: 1px dotted #f19103;">
                      <img src="img/cantante-chica.png" alt="" class="img-fluid d-block mx-auto">
                      <h6><strong>Grupos de Música</strong></h6>
                      <p><strong>¿Necesitas un solist@? ¿Tienes en mente un nuevo proyecto y buscas colaboración? Este es tú plan..</strong></p>
                    </div>
                  </div>
                </div>

              </ng-form>
             
                <div class="row">
                <div class="col-12 text-center mb-2">
                  <h2>PRECIOS</h2>
                  <small>Selecciona una de las tarifas y contrata en un sólo CLICK</small>
                </div>
                <div class="container">
                  <div class="row justify-content-center align-items-center">
                   <div class="col text-center">
                    <div class="arrow_box p-5">
                      GRUPOS Y SALAS <h6><strong>MENSUAL</strong></h6>  
                    </div>
                     
                   </div>
                   <div class="col text-center" style=" border-right: 1px dotted #666;">
                     
                        <ul>
                          <li>Publicaciones</li>
                          <li>Notificaciones</li>
                          <li>Promociones</li>
                          <li>Extras</li>
                        </ul>
                     
                   </div>
                   <div class="col text-center" style=" border-right: 1px dotted #666;">
                     <div class="capa-precios"> <span class="n-precio">6</span>  <span>€ mes</span></div>

                   </div>
                   <div class="col text-center">
                     <button type="" class="btn btn-primary btn-lg"> CONTRATAR </button>
                   </div>
                   
                 </div>    
                </div>
                <div class="container">
                  <div class="row justify-content-center mt-2 align-items-center">
                   <div class="col text-center">
                    <div class="arrow_box p-5">
                      GRUPOS Y SALAS <h6><strong>TRIMESTRAL</strong></h6> 
                    </div>
                     
                   </div>
                   <div class="col text-center">
                     <h2>TEXTO</h2>
                   </div>
                   <div class="col text-center">
                     <h2>16 €</h2>
                   </div>
                   <div class="col text-center">
                     <button type="" class="btn btn-primary btn-lg"> CONTRATAR </button>
                   </div>
                   
                 </div>
                </div>
                             
                 
              </div>
             
 
            
               
               
              
               <hr>
            </uib-tab>
              <!--/  TAB 1 GRUPOS Y SALAS -->
              <!--TAB 2 DATOS -->
            <uib-tab index="1" heading="COMPRAVENTA Y ALQUILER">
               <uib-tab-heading>
               <h3> COMPRAVENTA Y ALQUILER</h3>
              </uib-tab-heading>
                <small>Estos datos núnca serán mostrados</small>
                <ng-form name="">
                   <form class="mt-3">
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputEmail4">Nombre</label>
                        <input type="text" class="form-control" id="inputEmail4" placeholder="Nombre">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputPassword4">Apellidos</label>
                        <input type="text" class="form-control" id="inputPassword4" placeholder="Apellidos">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputAddress2">Dirección</label>
                      <input type="text" class="form-control" id="inputAddress2" placeholder="Calle, Avenida...">
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputCity">Ciudad</label>
                        <input type="text" class="form-control" id="inputCity">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputState">Provincia</label>
                        <select id="inputState" class="form-control">
                          <option selected>Selecciona...</option>
                          <option>...</option>
                        </select>
                      </div>
                      <div class="form-group col-md-2">
                        <label for="inputZip">CP</label>
                        <input type="text" class="form-control" id="inputZip">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox"> Acepto la política de privacidad de MUSICIEN
                        </label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6 offset-6 text-right">
                         <button type="submit" class="btn btn-primary">Guardar</button>
                      </div>
                    </div>

                  </form>
                </ng-form>
            </uib-tab>
              <!--FIN  TAB 2 DATOS -->
              <!--TAB 3 PERSONALIZAR -->
            <uib-tab index="2">
               <uib-tab-heading>
               <h3> PROFESORES</h3>
              </uib-tab-heading>
             <div class="row">
               <div class="col-12 mt-2">
                 <h2>Suscripciones Activas</h2>
               </div>
               <div class="col-12">
                 Actualmente tienes activas las siguientes suscripciones
               </div>

             </div>

             <div class="row">
                 <div class="col-6 ">
                          <div class="card bg-light mb-3" style="max-width: 20rem;">
                                <div class="card-header">
                                    <div class="row">
                                      <div class="col-6"><h6> Grupos y Salas</h6></div>
                                      <div class="col-6 text-right">
                                        <button type="button" class="btn btn-xs">
                                          <i class="fa fa-refresh" aria-hidden="true"></i>
                                        </button>
                                        <button type="button" class="btn  btn-xs btn-danger">
                                           <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </button>


                                        </div>
                                      </div>
                                  </div>
                                  <div class="card-body">
                                   <strong>Características:</strong>
                                    <ul>
                                      <li>Promociona tu local</li>
                                      <li>Busca músicos</li>
                                    </ul>
                                    <p>
                                      <strong>Tipo:</strong>
                                                   Trimestral
                                    </p>
                                    <p>
                                      <strong>Vigencia:</strong>
                                                   Hasta 05/2018
                                                   </p>
                                     <div class="row">

                                    </div>





                                                </div>
                                              </div>
                                            </div>
                    <div class="col-6 ">
                          <div class="card bg-light mb-3" style="max-width: 20rem;">
                                <div class="card-header">
                                    <div class="row">
                                      <div class="col-6"><h6> Compra/venta y Alquiler</h6></div>
                                      <div class="col-6 text-right">
                                         <button type="button" class="btn  btn-xs">
                                           <i class="fa fa-refresh" aria-hidden="true"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger  btn-xs">
                                           <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </button>

                                        </div>
                                      </div>
                                  </div>
                                  <div class="card-body">
                                    <strong>Carracterísticas:</strong>
                                    <ul>
                                      <li>Compra Venta <small>(anuncio)</small></li>
                                    </ul>
                                    <p>
                                      <strong>Tipo:</strong>
                                                   Mensual
                                    </p>
                                    <p>
                                      <strong>Vigencia:</strong>
                                                   Hasta 30-12-2017 <br><small style="color:red">(Este producto caduca en X días)</small>
                                                   </p>







                                                </div>
                                              </div>
                                            </div>
                                            <div class="col-6 ">

                                            </div>
               </div>

               <hr>

               <div class="row">
                 <div class="col-12">
                   <h3> Planes y Promociones</h3>
                   <p>Échale un vistazo a todos nuestros planes y promociones y contratalos con un click</p>
                 </div>
                 <div class="col-12">
                     <div class="card bg-light mb-3" >
                                <div class="card-header">
                                    <div class="row">
                                      <div class="col-12"><h5> <strong>Clases Particulares</strong> ¡PRIMER MES GRATIS!</h5></div>
                                     <!--  <div class="col-6 text-right">
                                         <button type="button" class="btn  btn-xs">
                                           <i class="fa fa-refresh" aria-hidden="true"></i>
                                        </button>
                                       

                                        </div> -->
                                      </div>
                                  </div>
                                  <div class="card-body">
                                  <div class="row text-center">
                                    <div class="col-12">
                                      <div class="contenedor" style="width: 100%;
                                                                    height: 150px;
                                                                    overflow: hidden;
                                                                    position: relative;">
                                        <img src="img/plan3.jpg" alt="" class="img-fluid" style="position: absolute;
                                                  left: -100%;
                                                  right: -100%;
                                                  top: -100%;
                                                  bottom: -100%;
                                                  margin: auto;
                                                  min-height: 100%;
                                                  min-width: 100%;
                                                  object-fit: cover;">
                                      </div>
                                      
                                    </div>
                                  </div>
                                  <div class="col-12 text-center">
                                    <p>¿Sabes tocar un instrumento y te gustaría enseñar a otras personas hacerlo?</p>
                                  </div>
                                    
                                    <div class="row text-center">
                                      <div class="col-12 text-center">
                                        
                                      </div>
                                      <div class="col-6">
                                        <h4>8.00€</h4>
                                        <strong>Mensual</strong>
                                        <p><small>(1 mes + 1 mes gratis)</small></p>
                                         <button type="button" class="btn btn-primary  btn-xs">
                                           <i class="fa fa-refresh" aria-hidden="true"> </i> <small>Contratar</small>
                                        </button>
                                      </div>
                                       <div class="col-6">
                                        <h4>22.00€</h4>
                                        <strong>Trimestral</strong>
                                         <p><small>(3 meses + 1 mes gratis)</small></p>
                                         <button type="button" class="btn btn-primary  btn-xs">
                                           <i class="fa fa-refresh" aria-hidden="true"> </i> <small>Contratar</small>
                                        </button>
                                      </div>
                                    </div>
                                   
                                   







                                                </div>
                                              </div>
                 </div>
                 <div class="col-12">
                     <div class="card bg-light mb-3" >
                                <div class="card-header">
                                    <div class="row">
                                      <div class="col-12"><h5> <strong>Premium Tutti</strong> - Tenerlo todo nunca fue tan fácil </h5></div>
                                     <!--  <div class="col-6 text-right">
                                         <button type="button" class="btn  btn-xs">
                                           <i class="fa fa-refresh" aria-hidden="true"></i>
                                        </button>
                                       

                                        </div> -->
                                      </div>
                                  </div>
                                  <div class="card-body">
                                  <div class="row text-center">
                                    <div class="col-12">
                                      <div class="contenedor" style="width: 100%;
                                                                    height: 150px;
                                                                    overflow: hidden;
                                                                    position: relative;">
                                        <img src="img/planb.jpg" alt="" class="img-fluid" style="position: absolute;
                                                  left: -100%;
                                                  right: -100%;
                                                  top: -100%;
                                                  bottom: -100%;
                                                  margin: auto;
                                                  min-height: 100%;
                                                  min-width: 100%;
                                                  object-fit: cover;">
                                      </div>
                                      
                                    </div>
                                  </div>
                                  <div class="col-12 text-center">
                                     <p>¡PRIMER MES GRATIS + DESCUENTO DE 5€!</p>
                                  </div>
                                   
                                    <div class="row text-center">
                                      <div class="col-12 text-center">
                                        
                                      </div>
                                      <div class="col-6">
                                        <h4>15.00€</h4>
                                        <strong>Mensual</strong>
                                        <p><small>(1 mes + 1 mes gratis)</small></p>
                                         <button type="button" class="btn btn-primary  btn-xs">
                                           <i class="fa fa-refresh" aria-hidden="true"> </i> <small>Contratar</small>
                                        </button>
                                      </div>
                                       <div class="col-6">
                                        <h4>50.00€</h4>
                                        <strong>Trimestral</strong>
                                         <p><small>(3 meses + 1 mes gratis)</small></p>
                                         <button type="button" class="btn btn-primary  btn-xs">
                                           <i class="fa fa-refresh" aria-hidden="true"> </i> <small>Contratar</small>
                                        </button>
                                      </div>
                                    </div>
                                   
                                   







                                                </div>
                                              </div>
                 </div>
                 <div class="col-12">
                     <div class="card bg-light mb-3" >
                                <div class="card-header">
                                    <div class="row">
                                      <div class="col-12"><h5> <strong>Premium Bis</strong> - A tu medida </h5></div>
                                     <!--  <div class="col-6 text-right">
                                         <button type="button" class="btn  btn-xs">
                                           <i class="fa fa-refresh" aria-hidden="true"></i>
                                        </button>
                                       

                                        </div> -->
                                      </div>
                                  </div>
                                  <div class="card-body">
                                  <div class="row text-center">
                                    <div class="col-12 text-center">
                                      <div class="contenedor" style="width: 100%;
                                                                    height: 150px;
                                                                    overflow: hidden;
                                                                    position: relative;">
                                        <img src="img/plant.jpg" alt="" class="img-fluid" style="position: absolute;
                                                  left: -100%;
                                                  right: -100%;
                                                  top: -100%;
                                                  bottom: -100%;
                                                  margin: auto;
                                                  min-height: 100%;
                                                  min-width: 100%;
                                                  object-fit: cover;">
                                      </div>
                                      
                                    </div>
                                  </div>
                                  <div class="col-12 text-center">
                                    <p>¡PRIMER MES GRATIS + DESCUENTO DE 3€!</p>
                                    <p>¿Necesitas varios planes? Selecciona los 2 planes que más te gusten</p>
                                  </div>
                                    
                                    <div class="row text-center">
                                      <div class="col-12 text-center">
                                        
                                      </div>
                                      <div class="col-6">
                                        
                                        <strong>Mensual</strong>
                                        <p><small>(1 mes + 1 mes gratis)</small></p>
                                         <button type="button" class="btn btn-primary  btn-xs">
                                           <i class="fa fa-refresh" aria-hidden="true"> </i> <small>Contratar</small>
                                        </button>
                                      </div>
                                       <div class="col-6">
                                      
                                        <strong>Trimestral</strong>
                                         <p><small>(3 meses + 1 mes gratis)</small></p>
                                         <button type="button" class="btn btn-primary  btn-xs">
                                           <i class="fa fa-refresh" aria-hidden="true"> </i> <small>Contratar</small>
                                        </button>
                                      </div>
                                    </div>
                                   
                                   







                                                </div>
                                              </div>
                 </div>
                
                
               </div>
            </uib-tab>
            <!-- FIN TAB 3 PERSONALIZAR -->
          </uib-tabset>
        </form>
      </div>
    </div>
  </div>
</div>
