<div class="container">
	<div class="row">
		<div class="col-12">
			   <span class="step-title"> Paso {{activePill}} de {{numPags}} </span>
		</div>
		<div class="col-12">
		<!-- INICIO BOTONES PASO A PASO -->
			 <div class="page-bar" style="position: initial;">
                <ul class="page-breadcrumb">
                    <li>
                        {{objetoBusqueda.NombreTipoVehiculo}}
                        <i class="fa fa-circle"></i>
                    </li>
                    <li ng-if="!objetoBusqueda.tabs[3]">
                        <span>{{objetoBusqueda.marca.descripcionSeccion}}</span>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li ng-if="!objetoBusqueda.tabs[4]">
                        <span>{{objetoBusqueda.modelo.descripcionFamilia}}</span>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li ng-if="!objetoBusqueda.tabs[5]">
                        <span>{{objetoBusqueda.carroceria.descripcion}}</span>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li ng-if="!objetoBusqueda.tabs[6]">
                        <span>{{objetoBusqueda.ano.valor}}</span>
                    </li>
                </ul>

            </div>
            <!-- FIN BOTONES PASO A PASO -->
		</div>
		<div class="col-12">
		<!-- BARRA DE PROGRESO -->
			 <div id="bar" class="progress progress-striped mt-3">
                <div class="progress-bar" role="progressbar" style="width: {{progreso()}} ;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                    {{progreso()}}
                </div>
            </div>
           <!--  FIN BARRA DE PROGRESO -->
		</div>

		<!-- INICIO TABS -->
		<div class="col-12">
			<uib-tabset active="activePill" type="pills" class="form-wizard">
				<!-- TAB CREACION DE PERFILES -->
				  <uib-tab index="1" disable="objetoBusqueda.tabs[1]">
				  	<uib-tab-heading>
				  		<span class="step">
				  		 <span class="number"> 1 </span>
				  		 <span class="desc">
				  		  	<i class="fa fa-check"></i>Tipo de Vehículo
				  		 </span>
                         </span>
				  	</uib-tab-heading>
				  	<div class="">
				  		<div>
				  			contenido de tab
				  		</div>

				  	</div>

				  </uib-tab>
				 <!--  FIN TAB CREACION DE PERFILES -->
				<!--  INICIO DATOS PERSONALES -->
				   <uib-tab tabindex="2" disable="objetoBusqueda.tabs[2]">
				   		<uib-tab-heading>
				  		<span class="step">
				  		 <span class="number"> 1 </span>
				  		 <span class="desc">
				  		  	<i class="fa fa-check"></i>Tipo de Vehículo
				  		 </span>
                         </span>
				  		</uib-tab-heading>
				   </uib-tab>
				  <!--  FIN DATOS PERSONALES -->


			</uib-tabset>

		</div>
		<!-- FIN TABS -->
	</div>

	
</div>